<footer>
  <section id="lab_social_icon_footer">
    <div class="container">
      <div class="text-center center-block">
        <a href="mailto:#"><i id="social-em" class="fa far fa-envelope fa-3x social"></i>|</a>
        <div class="footer-logo">MED <i class="watermellon fa fa-medkit"></i>
          WORDS
        </div>
      </div>
    </div>
  </section>
</footer>
