<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', {title: 'Med Words'}); %>
  <body>
    <%- include('../partials/header', {location: 'about'}); %>

    <main class="site-content">
      <div class="page-header">
        <h2>Med Words</h2>
      </div>
      <p>This app is a proof of concept/prototype. The development team wanted to work with one of Microsoft's APIs with a focus on health care, so we brainstormed a project that combines the two. 

      <p>Our medical histories are increasingly pieced together from records created by different providers at different clinics and hospitals. Parsing a patient's medical history from such long, motley charts is time consuming; clinicians may not have the time to thoroughly 'read' a patient's history unless diagnosis or treatment necessitates. Moreover, when searching a patient's chart for specific terms like "hypertension" or "hypercholesterolemia," the clinician is only presented with records that match those terms.</p>

      <p>  
      We envisioned another way of reading a patient's history by analyzing a patient's chart (comprised of individual records) for key phrases. Med Words presents those key phrases to clinicians in a condensed format so that a new PCP can see major themes in a patient's history at a glance.
      </p>

      <div class="page-header">
        <h2>About Us</h2>
      </div>
      <p>We are a diverse team of developers with a huge passion in the world of programming. As we all come together as one, the different backgrounds and experiences that each member brings not only gives interesting insights into our project, but also cool ideas that we might've not come up by ourselves.</p>

      
      <section class="image-container" id="about-us">
        <div class="team-card">
          <div class="team-image tre"></div>
          <h3>Tre Cain</h3>
          <a href="https://github.com/ercain03"><i class="fab fa-github"></i></a>
          <a href="https://www.linkedin.com/in/earnest-cain/"><i class="fab fa-linkedin"></i></a>
        </div>
        <div class="team-card">
          <div class="team-image jeff"></div>
          <h3>Jeff Weng</h3>
          <a href="https://github.com/Inkh"><i class="fab fa-github"></i></a>
          <a href="https://www.linkedin.com/in/jeffreyhweng/"><i class="fab fa-linkedin"></i></a>
        </div>
        <div class="team-card">
          <div class="team-image ken"></div>
          <h3>Kendra Ellis</h3>
          <a href="https://github.com/ellisken"><i class="fab fa-github"></i></a>
          <a href="https://www.linkedin.com/in/kendra-ellis/"><i class="fab fa-linkedin"></i></a>
        </div>
        <div class="team-card">
          <div class="team-image aaron"></div>
          <h3>Aaron Frank</h3>
          <a href="https://github.com/afrank41"><i class="fab fa-github"></i></a>
          <a href="https://www.linkedin.com/in/aaron-frank/"><i class="fab fa-linkedin"></i></a>
        </div>
      </section>
    </main>
    <%- include('../partials/footer'); %>
  </body>
</html>