<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', {title: 'Error'}); %>
<body>
  <%- include('../partials/header'); %>
  <main class="sticky-footer">
    <p><%= message %></p>     
    <button id="back">Back</button> 
  </main>
  <!-- use absolute paths for scripts! what if this gets rendered at the root?-->
  <script src="/scripts/error.js"></script>
  <%- include('../partials/footer'); %>
</body>
</html>