body {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  background-color: #bbbbbb;
  font-family: 'Roboto', sans-serif;
}

/* This causes weird behavior. You shouldn't need to set the height this way. */
html, body {
  height: 100%;
}

header {
  background-color: #2C3539;
  font-family: 'Graduate', cursive;
  margin-bottom: 20px;
}

footer {
  flex-shrink: 0;
  font-family: 'Graduate', cursive;
  width: 100%;
  background-color: #2C3539;
  height: 50px;
  color:  #fff;
}
