header .logo {
  float: left;
}

header nav {
  float: right;
}

header nav ul {
  display: flex;
}

header nav ul li {
  position: relative;
}

header nav ul li .sub-menu:before {
  position: absolute;
}

.menu-toggle {
  color: #fff;
  float: right;
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: none;
}

form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

div.menu-toggle-two {
  display: none;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo {
  margin-left: 5px;
  margin-top: 2px;
}

.social {
  font-size: 20px;
  margin-right: 3px;
}

.under-form {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.floatedOr {
  display: flex;
  align-items: center;
  justify-content: center;
}

.centered-form {
  flex-direction: column;
}

div.under-form h2 {
  display: none;
}

.center-existing {
  display: flex;
  justify-content: center;
  position: none;
}

/* demonstration css */
.patient-detail-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 67px;
  margin-right: 160px;
}

div.two {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
/* 
#delete {
  position: relative;
  left: 250px;top: -57px;
} */

.one form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

input #patient-id {
  width: 80%;
}

.record-title {
  margin-bottom: 20px;
  margin-top: 20px;
}

#textarea {
  padding: 10px;
  width: 100%;
}

.center {
  text-align: center;
}

.one-form {
  margin: 0 auto;
  width: 90%;
}

#textarea {
  width: 100%;
  height: 200px;
  margin-bottom: 15px;
}

@media (max-width: 991px) {
  header {
    padding: 0 20px;
  }

  #myInput {
    width: 60%;
  }

  .menu-toggle {
    display: block;
  }
  
  header nav {
    position: absolute;
    width: 100%;
    height: calc(100vh - 50px);
    background: #333;
    top: 50px;
    left: -100%;
    transition: 0.5s;
  }
  header nav.active {
    left: 0;
  }
  header nav ul {
    display: block;
    text-align: center;
  }
  header nav ul li a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  header nav ul li.active ul {
    position: relative;
    background: #003e6f;
  }
  header nav ul li ul li {
    width: 100%;
  }
}
@media (min-width: 760px) {

  .patient-detail-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 67px;
    margin-right: 45px;
  }

  div.patient-records-container {
    width: 90%;
    margin: 0 auto;
  }
  
  main.site-content {
    width: 60%;
    margin: 0 auto;
  }


  #myInput {
    width: 82%;
    height: 30px;
    border: 1px solid #b3aca7;
  }

  .floatedOr {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 45px;
    margin-bottom: 0px;
  }

  .input {
    width: 400px;
  }

  .patient-container {
    width: 80%; 
    margin: 0 auto;
  }

  .p-main {
    width: 90%;
    margin: 0 auto;
  }
}

